<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Sample App</title>
	
	<link rel="stylesheet" type="text/css" href="../scripts/bootstrap/css/bootstrap.css"/>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
	<link rel="stylesheet" type="text/css" href="../scripts/css/style.css"/>
	
	<link rel="stylesheet" type="text/css" href="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
	<!-- <link rel="stylesheet" type="text/css" href="../node_modules/mdbootstrap/css/mdb.min.css"> -->


	<script type="text/javascript" src="../scripts/angular/angular.min.js"></script>
	<script type="text/javascript" src="http://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="../scripts/ng-file-upload/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="../scripts/ng-file-upload/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	<script type="text/javascript" src="../scripts/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-2.5.0.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.6.4/angular-touch.js"></script>

	<script type="text/javascript" src="../scripts/app.js"></script>
	<script type="text/javascript" src="../controllers/signup-controller.js"></script>
	<script type="text/javascript" src="../controllers/login-controller.js"></script>
	<script type="text/javascript" src="../controllers/user-controller.js"></script>
	<script type="text/javascript" src="../controllers/contact-controller.js"></script>
	<script type="text/javascript" src="../controllers/dashboard-controller.js"></script>
	<script type="text/javascript" src="../controllers/newpost-controller.js"></script>
	<script type="text/javascript" src="../controllers/modal-controller.js"></script>
	<script type="text/javascript" src="../controllers/edit-profile-controller.js"></script>
</head>
<body>
<div class="div-setting">
	<div class="div-setting2">
	<nav class="nav navbar navbar-inverse" ng-controller="loginController">
		<div class="container" ng-show="!loggedIn">
			<a class="navbar-brand" href="#">Media Sharing</a>
			<a class="navbar-text navbar-right" href="#!/login">Login</a>
			<a class="navbar-text navbar-right" href="#!/signup">Signup</a>
		</div>

		<!-- <div class="container" ng-show="loggedIn">
			<a class="navbar-brand" href="#!/dashboard">Media Sharing</a>
			<a class="navbar-text navbar-left" href="#!/new-post">New Post</a>
			<a class="navbar-text navbar-right" ng-click="logout()">Logout</a>
			<a class="navbar-text navbar-right" href="#!/contact-us">Contact</a>
			<a class="navbar-text navbar-right" href="#!/users">Users</a>
			<a class="navbar-text navbar-right" href="#!/profile">Profile</a>
			
		</div> -->
		<div class="container" ng-show="loggedIn">
			<a class="navbar-brand" href="#!/dashboard">Media Sharing</a>
			<a class="navbar-text navbar-left" href="#!/new-post">New Post</a>

			<ul class="nav navbar-nav navbar-right" ng-show="loggedIn">
				<li><a href="#!/users">Users</a></li>
				<li><a href="#!/contact-us">Contact Us</a></li>
				<li class="dropdown" >
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
		          <img ng-src="{{data.profilePhoto}}" id="propic"> &nbsp;Profile <b class="caret"></b></a>

		          <ul class="dropdown-menu">
		            <li><a href="#!/profile">Edit Profile</a></li>
		            <li><a href="#">Settings</a></li>
		            <!-- <li><a href="#">Something else here</a></li> -->
		            <li class="divider"></li>
		            <li><a ng-click="logout()">Logout</a></li>
		          </ul>
		        </li>

			</ul>
		</div>
	</nav>

	<main>
		<div ui-view>
			
		</div>
	</main>
	</div>
	<div class="footer-class">
		<footer>
			<a href="#!">Single Page Application Demo</a> Copyright &copy; <a href="http://www.iburhan.me" target="_blank">Burhan Bharmal </a> | 2017
		</footer>
	</div>
</div>
</body>

</html>