<div ng-controller="dashboardController">
<h1 style="text-align: center;">Welcome Aboard {{data.username}} !!</h1>
<div class="container">
    <div class="col-md-1"></div>
        <div class="col-md-11">
            <h1 style="padding-left: 10px;">Timeline</h1>
            <div ng-repeat="post in posts" class="col-md-4">
            <a href="#" style="font-size: 25px;">{{post.username}}</a><br>
            <label style="font-size: 10px;">Posted at: {{post.post_created_at | date}}</label><br>
            <label style="font-size: 20px;">{{post.content}} </label><br>
                <img ng-src="{{post.imgPath}}" class="img-rounded" alt="" width="200" height="200" ng-click="displayImage($index)"> <br>
            <hr>
            </div>
        </div>
</div>


</div>