<div ng-controller="newpostController">
<h1 style="text-align: center;">Welcome Aboard {{data.username}} !!</h1>
<div class="container">
<div class="col-md-1"></div>

    <div class="col-md-10">
        <h2 style="padding-left: 10px;">Your posts</h2>
        <div ng-repeat="post in posts" class="col-md-4">
        <label style="font-size: 25px;">{{post.username}}</label><br>
        <label>Posted at: {{post.post_created_at | date}}</label>
        <!-- <img ng-src="{{post.imgPath}}" class=""> -->
        <img ng-src="{{post.imgPath}}" class="img-rounded" alt="" width="200" height="200"> 
        <label style="font-size: 20px;">{{post.content}} </label>
        <hr>
        </div>
    </div>
</div>
</div>