<div class="modal-header" >
 <h3 class="modal-title" id="modal-title">{{posts[index].username}}</h3>
 <label style="font-size: 10px;">Posted at: {{posts[index].post_created_at}}</label><br>
</div>
<div class="modal-body" id="modal-body">

	{{$root.index}}
	<div>
		
		<label style="font-size: 20px;">{{posts[index].content}}</label><br>
		<img ng-src="{{posts[index].imgPath}}" class="img-rounded" alt="" width="870" height="500"/>

	</div>
</div>
<div class="modal-footer">
 <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
 <button class="btn btn-warning" type="button" ng-click="cancelModal()">Cancel</button>

</div>