<div class="container">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h2>User Detalis</h2>
    </div>
    <div class="panel-body">
     First Name:  {{data.firstname}}
    </div>
    <div class="panel-body">
     Last Name:  {{data.lastname}}
    </div>
    <div class="panel-body">
     Phone Number:  {{data.mnumber}}
    </div>
    <div class="panel-body">
     Username:  {{data.username}}
    </div>
    <div class="panel-body">
     Email:  {{data.email}}
    </div>
  </div>
</div>